{% extends "views/components/widgets/base.htm" %}
{% load i18n %}

{% block form %}
<div class="row widget-wrapper">
    <div class="form-group">
        <div class="col-xs-12">
            <input style="display:inline-block;"
                   data-bind="
                        select2Query: { select2Config: select2Config }
                        "
                id="select2agent"
                >
        </div>

        <div class="col-xs-12">
            <input type="hidden" data-bind="textInput: suggestValue, attr: {}" class="form-control input-lg widget-input" placeholder="Enter text" style="margin-bottom: 5px">
            <input type="hidden" data-bind="textInput: value, attr: {}" class="form-control input-lg widget-input" placeholder="Enter text" style="margin-bottom: 5px">
        </div>
        <div class="col-xs-12">
            <label class="control-label widget-input-label" for="">preview</label>
            <input disabled type="text" data-bind="textinput: preview" class="form-control input-lg widget-input">

            {% comment %} <label class="control-label widget-input-label" for="">Displaylabel</label> {% endcomment %}
            {% comment %} <input disabled type="text" data-bind="textInput: name" class="form-control input-lg widget-input"> {% endcomment %}

            <label class="control-label widget-input-label" for="">Ark</label>
            <input disabled type="text" data-bind="textInput: ark" class="form-control input-lg widget-input">

            <label class="control-label widget-input-label" for="">Identifier</label>
            <input disabled type="text" data-bind="textInput: brocadeID" class="form-control input-lg widget-input">

            <label class="control-label widget-input-label" for="">Archivesspace URI</label>
            <input disabled type="text" data-bind="textInput: archivesSpaceID" class="form-control input-lg widget-input">
            <a target="_blank" data-bind="attr: {href: resolveURI}">
                <span data-bind="text: archivesSpaceID"></span>
            </a>

        </div>


        <div style="padding-top:100px" data-bind="visible: isAgent">
            <h4 class="card-title">Capacity</h4>
            <div class="col-xs-12">
                <input style="display:inline-block;"
                    data-bind="select2Query: { select2Config: select2capacity}"
                    id="select2capacity">
            </div>

            <div class="col-xs-12">
                <label class="control-label widget-input-label" for="">Preview</label>
                <input disabled type="text" data-bind="textInput: capacityName" class="form-control input-lg widget-input">
            </div>
        </div>
    </div>
</div>
{% endblock form %}

{% block config_form %}
<div class="control-label">DLOD url
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" placeholder="https://hub3.digipolis.delving.io" id="" class="form-control input-md widget-input" data-bind="textInput: placeholder">
</div>

<div class="control-label">data type</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" placeholder="example: agent" id="" class="form-control input-md widget-input" data-bind="textInput: maxLength">
</div>
{% comment %} <div class="control-label"> suggest type </div> {% endcomment %}
{% comment %} <div class="col-xs-12 pad-no crud-widget-container"> {% endcomment %}
    {% comment %} <input type="" placeholder="{% trans "Default Value" %}" id="" class="form-control input-md widget-input" data-bind="textInput: defaultValue"> {% endcomment %}
{% comment %} </div> {% endcomment %}

{% comment %} <div class="col-xs-12 pad-no crud-widget-container"> {% endcomment %}
    {% comment %} <select type="" id="" placeholder="select suggest type" data-bind=" {% endcomment %}
        {% comment %} valueAllowUnset: true, {% endcomment %}
        {% comment %} options: [ {% endcomment %}
            {% comment %} { {% endcomment %}
                {% comment %} value: '', {% endcomment %}
                {% comment %} text: '' {% endcomment %}
            {% comment %} }, {% endcomment %}
            {% comment %} { {% endcomment %}
                {% comment %} value: 'agent', {% endcomment %}
                {% comment %} text: 'Agent' {% endcomment %}
            {% comment %} }, {% endcomment %}
            {% comment %} { {% endcomment %}
                {% comment %} value: 'archive', {% endcomment %}
                {% comment %} text: 'Archive' {% endcomment %}
            {% comment %} }, {% endcomment %}
            {% comment %} { {% endcomment %}
                {% comment %} value: 'topic', {% endcomment %}
                {% comment %} text: 'Topic' {% endcomment %}
            {% comment %} }, {% endcomment %}
            {% comment %} { {% endcomment %}
                {% comment %} value: 'place', {% endcomment %}
                {% comment %} text: 'Place' {% endcomment %}
            {% comment %} }, {% endcomment %}
            {% comment %} { {% endcomment %}
                {% comment %} value: 'accessions', {% endcomment %}
                {% comment %} text: 'Accessions' {% endcomment %}
            {% comment %} } {% endcomment %}
        {% comment %} ], {% endcomment %}
        {% comment %} value: hello2, {% endcomment %}
        {% comment %} optionsText: 'text', {% endcomment %}
        {% comment %} [> optionsValue: defaultValue, <] {% endcomment %}
        {% comment %} chosen: { {% endcomment %}
            {% comment %} [> disabled: true, <] {% endcomment %}
            {% comment %} 'width': '100%', {% endcomment %}
            {% comment %} 'disable_search_threshold': 10, {% endcomment %}
            {% comment %} 'allow_single_deselect': true {% endcomment %}
        {% comment %} } {% endcomment %}
{% comment %} "></select> {% endcomment %}
{% comment %} </div> {% endcomment %}



{% comment %} <div class="control-label">somethingTest field {% endcomment %}
{% comment %} </div> {% endcomment %}
{% comment %} <div class="col-xs-12 pad-no crud-widget-container"> {% endcomment %}
    {% comment %} <input type="" placeholder="" id="" class="form-control input-md widget-input" data-bind="textInput: somethingtest"> {% endcomment %}
{% comment %} </div> {% endcomment %}
{% comment %} <div class="node-config-item"> {% endcomment %}
    {% comment %} <div class="control-label"> {% endcomment %}
        {% comment %} {% trans "Disabled" %} {% endcomment %}
    {% comment %} </div> {% endcomment %}
    {% comment %} <div class="pad-no"> {% endcomment %}
        {% comment %} <div data-bind="component: { name: 'views/components/simple-switch', params: {value: uneditable, config:{label: '{% trans "Disable Editing" %}', subtitle: '{% trans "Prevent users from editing value" %}'}}}"></div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
{% comment %} </div> {% endcomment %}
{% endblock config_form %}

{% block report %}
<dt data-bind="text: label"></dt>
<dd>
  <div style='margin-bottom:2px' data-bind="text: preview"></div>
</dd>
{% endblock report %}
